<h1>Budget on rails!</h1>
<% if current_user %>
	Logged in as <%= current_user.firstName %>
	<%= link_to "Log out", log_out_path %>
	<%= link_to "Contributors", contributors_path %>
<% else %>
	<%= link_to 'Login','/auth/google_oauth2' %>
<% end %>
